.float-l {
  float: left;
}
.float-r {
  float: right;
}
.t-align-c {
  text-align: center;
}
.t-align-l {
  text-align: left;
}
.t-align-r {
  text-align: right;
}
.display-none {
  display: none;
}
.display-inline {
  display: inline;
}
.display-inline-block {
  display: inline-block;
}
.display-block {
  display: block;
}
