@import 'variable';
.m-0 {
  margin: 0;
}
.m-0-a {
  margin: 0 auto;
}

//Mixin loop. Change vairables in vairable.scss;
@while $i < $range {
  // margin positive
  .mt-#{$i}px {
    margin-top: #{$i}px;
  }
  .mb-#{$i}px {
    margin-bottom: #{$i}px;
  }
  .ml-#{$i}px {
    margin-left: #{$i}px;
  }
  .mr-#{$i}px {
    margin-right: #{$i}px;
  }

  // margin negetive

  .mt--#{$i}px {
    margin-top: -#{$i}px;
  }
  .mb--#{$i}px {
    margin-bottom: -#{$i}px;
  }
  .ml--#{$i}px {
    margin-left: -#{$i}px;
  }
  .mr--#{$i}px {
    margin-right: -#{$i}px;
  }

  $i: $i + $increment;
}